################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/SecureWallet/packages
/SecureWallet/SecureWallet/obj/Debug
/SecureWallet/SecureWallet/Resources/Resource.Designer.cs
/SecureWallet/SecureWallet/bin/Debug
/SecureWallet/SecureWallet/obj/.cache
/SecureWallet/.vs/SecureWallet/v14
/.vs
/packages
/SecureWallet/.vs/SecureWallet/v15
/SecureWallet/.vs/SecureWallet/DesignTimeBuild/.dtbcache
