################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SecureCredentials/.vs/SecureCredentials/v14
/SecureCredentials/packages
/SecureCredentials/SecureCredentials/bin/Debug
/SecureCredentials/SecureCredentials/obj/Debug
/SecureCredentials/SecureCredentials/Resources/Resource.Designer.cs
